@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinsans/JosefinSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinsans/JosefinSans-medium.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinsans/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: "Amatic_sc";
  src: url("../fonts/Amatic_SC/Amatic-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Amatic_sc";
  src: url("../fonts/Amatic_SC/Amatic-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Press_Start_2P";
  src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Thasadith";
  src: url("../fonts/Amatic_SC/Thasadith-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Thasadith";
  src: url("../fonts/Amatic_SC/Thasadith-Bold.ttf");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.content-lang {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #c0c0c0;
}
.content-lang .language {
  width: 400px;
  font-size: 2.1rem;
  color: #d8d9db;
  text-align: center;
  padding: 5px;
  background-color: red;
}
.content-lang .language i {
  color: black;
}
.content-lang .language i:hover,
.content-lang .language i:focus {
  background-color: black;
  color: white;
}
.content-lang .progress {
  background-color: white;
  width: 400px;
  color: #0439e7;
  font-size: 3rem;
  font-family: "Press_Start_2P", sans-serif;
  transform: translateY(10%);
  position: absolute;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.92, 0.09, 0.57, 1);
}
.content-lang .progress .js, .content-lang .progress .html, .content-lang .progress .git, .content-lang .progress .sass, .content-lang .progress .css {
  margin-top: 5px;
  width: 60px;
  height: 5px;
  background-color: #c0c0c0;
  transition: all 0.5s cubic-bezier(0.92, 0.09, 0.57, 1);
}
.content-lang .haut {
  transform: translateY(-105%);
  opacity: 1;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  padding: 10px;
  color: #353536;
  animation: black_white 10s infinite;
  font-family: "Press_Start_2P", sans-serif;
}

.foot-items {
  font-size: 1.6rem;
}
.foot-items .contact {
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: #353536;
}
.foot-items h3 {
  text-decoration: underline;
  color: #0439e7;
}

.foot-rx {
  font-size: 1.6rem;
  line-height: 1.2rem !important;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.content-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-copy {
  text-align: center;
  font-size: 1.2rem;
}

@keyframes black_white {
  0% {
    background-color: #000;
    color: #d8d9db;
  }
  25% {
    background-color: #FFFF;
    color: #353536;
  }
  75% {
    background-color: #000;
    color: #d8d9db;
  }
  100% {
    background-color: #FFFF;
    color: #353536;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 8vh;
  background-color: #000;
}
nav .nav-link {
  display: flex;
  justify-content: space-around;
  margin-right: 5px;
  width: 40%;
}
nav .nav-link li {
  list-style: none;
  margin: 2px;
}
nav .nav-link a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-family: "Press_Start_2P", sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 0.9rem !important;
}
nav .nav-link a:hover, nav .nav-link a:focus {
  background-color: #FFFF;
  color: #505050;
}
nav .logos {
  color: #505050;
  font-size: 1.6rem;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-link {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  body {
    overflow-x: hidden;
  }

  .nav-link {
    position: absolute;
    right: 0;
    height: 50vh;
    top: 20px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-link li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0px);
}

@keyframes navLinkfade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-grid {
  width: 80%;
  text-align: center;
  background-color: #c0c0c0;
  padding: 20px;
  border: 4px solid #000;
}

.content-grid2 {
  width: 80%;
  text-align: center;
  background-color: #FFFF;
  padding: 20px;
  border: 4px solid #000;
}

.box {
  display: flex;
  justify-content: space-evenly;
}
.box .text-box {
  width: 45%;
  font-size: 2rem;
  text-align: start;
}
.box .text-cv {
  width: 45%;
  font-size: 2rem;
  text-align: start;
  font-family: "Press_Start_2P", sans-serif;
}
.box .bloc-projet {
  width: 45%;
  font-size: 2rem;
  text-align: start;
  font-family: "Press_Start_2P", sans-serif;
  display: flex;
  flex-direction: column;
}
.box .bloc {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  padding: 10px;
  margin: 5px;
}
.box .bloc-img {
  margin-right: 5px;
  width: 40%;
  border: 1px solid #000;
}
.box .bloc-img img {
  width: 100%;
}
.box .img-box {
  width: 45%;
  border: 4px solid #000;
}
.box .img-box img {
  display: block;
  width: 100%;
}
.box .img-box a {
  font-size: 2.1rem;
  border: 2px solid #505050;
  font-family: "Press_Start_2P", sans-serif;
  background-color: #000;
  margin-top: 25px;
  padding: 5px;
  width: 100%;
  display: block;
}
.box .img-box a:hover, .box .img-box a:focus {
  background-color: #000;
  color: #d8d9db;
}

@media screen and (max-width: 750px) {
  .box {
    flex-direction: column;
  }
  .box .text-box {
    width: 100%;
    font-size: 2rem;
    text-align: start;
  }
  .box .img-box {
    width: 100%;
  }
  .box .img-box img {
    display: block;
    width: 100%;
  }
}
@keyframes textup {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*# sourceMappingURL=style.css.map */
