@mixin animation1($color, $duree, $backgr) {
    transition-property: all;
    transition-duration: $duree;
    &:hover {
        color: $color;
        background-color: $backgr;
        scale: 1.11;        
    }
}

@mixin animationket1($opacite, $duree, $orientation) {
    transition-timing-function: ease-in;
    
}
