// couleur
$couleur-principal:#000;
$couleur-second:#FFFF;
$couleur-mixage:#505050;
$couleur-texte1:#d8d9db;
$couleur-text2:#353536;
$couleur-texte3:#0439e7;
//taille police
$taile-principe:62.5%;
$taile-titre: 2.6rem;
$taile-titre2: 1.9rem;
$taile-para: 1.6rem;
$long-content:100%;
$large-content: 40vh;

// taille margin & padding
$taille-margin-btn: 5px;
$taille-padding-cont: 10px;
$taille-padding-btn: 5px;
$taille-radius: 25%;


