// couleur
$couleur-principal:#000;
$couleur-second:#FFFF;
$couleur-mixage:#505050;
$couleur-texte1:#d8d9db;
$couleur-text2:#353536;
$couleur-texte3:#0439e7;
//taille police
$taille-titre: 2.6rem;
$taille-principe:62.5%;
$taille-titre2: 1.9rem;
$taille-nav:1.7rem;
$taille-para: 1.6rem;
$long-content:100%;
$large-content: 40vh;

// taille margin & padding
$taille-margin-btn: 5px;
$taille-padding-cont: 10px;
$taille-padding-btn: 5px;
$taille-padding-head: 20px;
$taille-padding:10px;
$taille-margin-head:25px;
$taille-radius: 25%;
$taille-interligne:32px;
$taille-head: 200px;


