.foot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $long-content;
    background-color: $couleur-principal;  
    padding: $taille-padding-cont;
    color: $couleur-text2;
    animation: black_white 10s infinite;    
   font-family: "Press_Start_2P", sans-serif;
}
.foot-items{
    font-size: 1.6rem; 
    .contact{
        font-weight: bold;
        display: block;
        text-decoration: none;
        color:$couleur-text2;
    }
    h3{
        text-decoration: underline;
        color: $couleur-texte3;
    }
    
}
.foot-rx{
    font-size: 1.6rem;
    line-height: 1.2rem!important; 
    display: flex;
    flex-direction: column;
    justify-items: center;

}
.content-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-copy{
    text-align: center;
    font-size: 1.2rem;
}



@keyframes black_white{
    0%{
         background-color: $couleur-principal;
         color: $couleur-texte1;

    }25%{
        background-color: $couleur-second;
        color: $couleur-text2;
    } 75%{
         background-color: $couleur-principal;
         color: $couleur-texte1;

    }100%{
        background-color: $couleur-second;
        color: $couleur-text2;
    }

}

