.content-lang {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $couleur-mixage2;

    .language {
        width: 400px;
        font-size: 2.1rem;
        color: $couleur-texte1;
        text-align: center;
        padding: $taille-padding-btn;
        background-color: $couleur-mixage2;
        i {
            color: black;
        }
        i:hover,
        i:focus {
            background-color: black;
            color: white;

        }

    }
    .progress {
        background-color: white;
        width: 400px;
        color: $couleur-texte3;
        font-size: 3rem;
        font-family: "Press_Start_2P", sans-serif;
        transform: translateY(10%);
        position: absolute;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.92, 0.09, 0.57, 1);
        .js, .html, .git, .sass, .css{
            margin-top: $taille-padding-btn;
            width: 0px;
            height: 5px;
            font-size: 0.6rem;
            background-color: $couleur-mixage2;
            transition: all 2.5s cubic-bezier(0.92, 0.09, 0.57, 1);
            
        }
    }
    .haut {
        transform: translateY(-105%);
        opacity: 1;

    }
    .ani0 {
    
        width: 60% !important;
    
}
.ani1 {
    
        width: 96% !important;
   
}
.ani2 {
   
        width: 90% !important;
   
}
.ani3 {
    
        width: 92% !important;
   
}
.ani4 {
    
        width: 90% !important;
    
}


}
