* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  background: rebeccapurple;
  overflow: hidden;
}

header {
  //   position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(226, 173, 0);
  padding: 1px;
  padding-bottom: 3px;
  .logos {
    line-height: 0.2;
    text-align: center;

    a {
      text-decoration: none;
      color: rgb(226, 173, 0);
      transition: 0.3s all ease-in;
      h1 {
        font-size: 5rem;
      }
      span {
        font-size: 1.2rem;
      }
      &:hover {
        color: beige;
      }
    }
  }
  .nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      list-style: none;
      border-radius: 30px;

      li {
        margin-left: 5px;
        padding: 5px;

        a {
          position: relative;
          text-decoration: none;
          color: rgb(226, 173, 0);
          transition: all 1s;
          padding: 10px;
          &:hover {
            color: beige;
            background-color: rgb(226, 173, 0);
          }
        }
      }
    }
  }
}
.container {
  width: 100%;
  height: 80%;
  display: flex;
  padding: auto;
  color: beige;
  .function {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    //justify-content: center;
    width: 50%;

    h2 {
      font-weight: bold;
      font-size: 6rem;
    }
    p {
      font-size: 3.5rem;
    }
  }
  .reseaux_sociaux {
    padding: 1%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .icon_link {
      display: flex;
      font-size: 9rem;
      a {
        padding: 5px;
        text-decoration: none;
        color: rgb(226, 173, 0);
        transition: 0.5s all ease-in-out;
        &:hover {
          transform: translateY(-10px);
          color: beige;
        }
      }
    }
    .img_profil {
      text-align: center;
      display: block;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      border: 5px solid rgb(226, 173, 0);
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .name_profil {
      text-align: center;
      h3 {
      }
      span {
        font-size: 1.5rem;
      }
    }
  }
}
footer {
  display: flex;
  border-top: solid rgb(226, 173, 0);
  width: 100vw;
  height: 20%;
  line-height: 0.5;
  justify-content: center;

  .footer_contact {
    h3 {
      font-size: 2rem;
    }
    .box_contact {
      display: flex;
      justify-content: center;
      .reseau {
        display: flex;
        justify-content: center;
        font-size: 6rem;
        padding: 10px;
        a {
          color: beige;
          padding-left: 5px;
          padding-right: 5px;
          transition: 0.3s all ease-in;
          &:hover {
            color: rgb(226, 173, 0);
          }
          &:checked {
            transform: scale(1rem);
          }
        }
      }
      .footer_liens {
        padding: 10px;
        ul {
          li {
            a {
              font-size: 2rem;
              transition: 0.3s all ease-in;
              &:hover {
                color: rgb(226, 173, 0);
              }
            }
          }
        }
      }
    }
  }
  .footer_liens {
    font-size: 3rem;
    ul {
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: beige;
        }
      }
    }
  }
  .copyright {
    color: beige;
    font-size: 2rem;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }
}
.competence {
  .box_competence {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      li {
        margin: 5px;
      }
    }
  }
}
.projets {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  a {
    display: block;
    width: 250px;
    font-size: 4rem;
    text-decoration: none;
    color: rgb(226, 173, 0);
    background-color: beige;
    transition: all 1s;
    padding: 10px;
    margin: 5px;
    text-align: center;
    &:hover {
      color: beige;
      background-color: rgb(226, 173, 0);
    }
  }
}
.softskill {
  display: flex;
  h3 {
    margin: 3px;
    padding: 5px;
    color: beige;
    background-color: rgb(226, 173, 0);
    &:hover {
      color: rgb(226, 173, 0);
      background-color: beige;
    }
  }
}
@media screen and(max-width:768px) {
  body {
    height: 100%;
    overflow-y: auto;
  }
  .nav {
    display: none;
  }
  .container {
    flex-direction: column;
    .reseaux_sociaux {
      width: 100%;
    }
    .function {
      width: 100%;
    }
  }
  .box_competence {
    flex-direction: column;
  }
}
