* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background: rebeccapurple;
  overflow: hidden;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e2ad00;
  padding: 1px;
  padding-bottom: 3px;
}
header .logos {
  line-height: 0.2;
  text-align: center;
}
header .logos a {
  text-decoration: none;
  color: #e2ad00;
  transition: 0.3s all ease-in;
}
header .logos a h1 {
  font-size: 5rem;
}
header .logos a span {
  font-size: 1.2rem;
}
header .logos a:hover {
  color: beige;
}
header .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  list-style: none;
  border-radius: 30px;
}
header .nav ul li {
  margin-left: 5px;
  padding: 5px;
}
header .nav ul li a {
  position: relative;
  text-decoration: none;
  color: #e2ad00;
  transition: all 1s;
  padding: 10px;
}
header .nav ul li a:hover {
  color: beige;
  background-color: #e2ad00;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  padding: auto;
  color: beige;
}
.container .function {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 50%;
}
.container .function h2 {
  font-weight: bold;
  font-size: 6rem;
}
.container .function p {
  font-size: 3.5rem;
}
.container .reseaux_sociaux {
  padding: 1%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container .reseaux_sociaux .icon_link {
  display: flex;
  font-size: 9rem;
}
.container .reseaux_sociaux .icon_link a {
  padding: 5px;
  text-decoration: none;
  color: #e2ad00;
  transition: 0.5s all ease-in-out;
}
.container .reseaux_sociaux .icon_link a:hover {
  transform: translateY(-10px);
  color: beige;
}
.container .reseaux_sociaux .img_profil {
  text-align: center;
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid #e2ad00;
  overflow: hidden;
}
.container .reseaux_sociaux .img_profil img {
  width: 100%;
}
.container .reseaux_sociaux .name_profil {
  text-align: center;
}
.container .reseaux_sociaux .name_profil span {
  font-size: 1.5rem;
}

footer {
  display: flex;
  border-top: solid #e2ad00;
  width: 100vw;
  height: 20%;
  line-height: 0.5;
  justify-content: center;
}
footer .footer_contact h3 {
  font-size: 2rem;
}
footer .footer_contact .box_contact {
  display: flex;
  justify-content: center;
}
footer .footer_contact .box_contact .reseau {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  padding: 10px;
}
footer .footer_contact .box_contact .reseau a {
  color: beige;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.3s all ease-in;
}
footer .footer_contact .box_contact .reseau a:hover {
  color: #e2ad00;
}
footer .footer_contact .box_contact .reseau a:checked {
  transform: scale(1rem);
}
footer .footer_contact .box_contact .footer_liens {
  padding: 10px;
}
footer .footer_contact .box_contact .footer_liens ul li a {
  font-size: 2rem;
  transition: 0.3s all ease-in;
}
footer .footer_contact .box_contact .footer_liens ul li a:hover {
  color: #e2ad00;
}
footer .footer_liens {
  font-size: 3rem;
}
footer .footer_liens ul {
  list-style: none;
}
footer .footer_liens ul li a {
  text-decoration: none;
  color: beige;
}
footer .copyright {
  color: beige;
  font-size: 2rem;
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.competence .box_competence {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
}
.competence .box_competence ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.competence .box_competence ul li {
  margin: 5px;
}

.projets {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.projets a {
  display: block;
  width: 250px;
  font-size: 4rem;
  text-decoration: none;
  color: #e2ad00;
  background-color: beige;
  transition: all 1s;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.projets a:hover {
  color: beige;
  background-color: #e2ad00;
}

.softskill {
  display: flex;
}
.softskill h3 {
  margin: 3px;
  padding: 5px;
  color: beige;
  background-color: #e2ad00;
}
.softskill h3:hover {
  color: #e2ad00;
  background-color: beige;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
    overflow-y: auto;
  }

  .nav {
    display: none;
  }

  .container {
    flex-direction: column;
  }
  .container .reseaux_sociaux {
    width: 100%;
  }
  .container .function {
    width: 100%;
  }

  .box_competence {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
